@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "./assets/css/utilities.css";
@import "./assets/css/table.css";
@import "./assets/css/button.css";
@import "./assets//css/sidebar.css";
@import "./assets//css/modal.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* custom utility class */
body {
  font-family: "Public Sans";
}
@layer components {
  button {
    cursor: pointer;
  }
  .Toastify__toast {
    padding: 0px !important;
  }
  .Toastify__close-button {
    margin-top: 10px !important;
  }
  html[data-theme="dark"] .Toastify__close-button {
    filter: brightness(0) invert(1);
  }
}

/* //Direct custom CSS */

.p-paginator {
  justify-content: end !important;
  display: flex;
  gap: 5px;
  background-color: white;
  padding: 12px !important;
}
.p-paginator-element {
  background-color: #efeef0;
  color: #444050;
  padding: 12px;
  border-radius: 5px;
  gap: 15px;
}
.p-paginator-pages .p-highlight {
  background-color: #7367f0 !important;
  color: white;
}
.p-paginator-pages {
  display: flex;
  gap: 5px;
}
.p-dialog-mask {
  background-color: rgba(0, 0, 0, 0.6) !important ;
}

.p-dialog {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  max-height: unset !important;
}

.p-chips-token {
  display: flex;
  gap: 5px;
}
.p-chips-multiple-container {
  display: flex;
  gap: 5px;
}

@layer components {
  .p-dropdown {
    @apply p-2 border border-gray-300 dark:border-white rounded;
  }
  .p-dropdown-empty-message {
    @apply p-2;
  }
  .p-dropdown-items-wrapper {
    @apply mt-2  shadow! bg-white dark:bg-[#1e2939] border  border-gray-300 dark:border-gray-900 rounded;
  }

  .p-dropdown-label {
    @apply text-sm! text-[#444050] dark:text-[#cAcAcA];
  }

  .p-dropdown-items {
    @apply text-sm text-[#444050]  dark:text-[#cAcAcA]  shadow-md rounded;
  }
  .p-dropdown-item {
    @apply p-2   dark:text-[#cAcAcA] hover:bg-gray-200 dark:hover:bg-gray-900 rounded;
  }

  /* Selected Tree Css  */
  .p-treeselect.border {
    @apply shadow-sm border border-[#cAcAcA] dark:border-gray-300 rounded p-2 bg-white dark:bg-[#1e2939];
  }

  .p-treeselect.border-bottom {
    @apply border-b border-gray-700 dark:border-gray-300 rounded-none p-2 bg-white dark:bg-[#1e2939];
  }
  .p-treeselect.border-bottom:focus-within {
    @apply border-[#1C98D8] shadow-none;
  }
  .p-treeselect-panel {
    @apply w-[80px] text-[#444050] dark:text-[#cacaca] bg-white dark:bg-[#1e2939] border border-gray-300 dark:border-gray-900 rounded shadow-md;
  }
  .p-treeselect-items-wrapper::-webkit-scrollbar {
    width: 1px; /* For Chrome, Safari, and Edge */
  }
  .p-treeselect-label {
    @apply text-sm!  text-gray-500 dark:text-gray-300;
  }
  .p-treenode-label{
    @apply text-sm!;
  }
  .p-tree-toggler {
    @apply mr-[10px]!;
  }
  .p-treeselect-panel {
    @apply mt-2;
  }
  .p-tree .p-treenode-children {
    @apply pl-1;
  }
  .p-tree .p-tree-container {
    /* @apply p-[10px]; */
  }
  .p-tree .p-tree-container .p-treenode {
    padding: 5px;
    outline: 0 none;
  }
  .p-treenode-leaf > .p-treenode-content .p-tree-toggler {
    visibility: hidden;
  }
  .p-treeselect .p-treeselect-clear-icon {
    right: 2rem;
  }
  .p-treeselect-filter-icon {
    @apply right-[20px];
  }
  .p-treeselect-close {
    @apply right-[10px]!;
  }
  .p-treenode-leaf {
    @apply cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-900  rounded;
  }
  /* //Code for date picker  */
  .p-inputtext {
    @apply focus:outline-none!  text-gray-500 dark:text-gray-300 text-sm bg-transparent;
  }


}

.p-calendar {
  @apply shadow bg-white dark:bg-gray-800 p-[5px] border border-gray-300  rounded;
}
.p-calendar .p-inputtext::placeholder {
  @apply text-white dark:text-[#cacaca] ;
}
  .p-datepicker {
    @apply mt-2 shadow bg-white dark:bg-[#1e2939] border border-gray-300 dark:border-gray-900 rounded ;
    /* @apply left-[694px]! w-[201.062px]!;   */
  }
.p-datepicker-calendar {
  @apply text-white dark:text-[#cacaca] ;
}
.p-datepicker-calendar th{
  padding: 5px;
  margin-bottom: 5px;
}
.p-datepicker-title{
  @apply text-gray-500 dark:text-gray-300 p-2;
}
.p-datepicker .p-highlight{
  @apply bg-[#1C98D8] text-white rounded;
}
.p-monthpicker{
  @apply text-white dark:text-[#cacaca]
}
.p-datepicker-group-container{
  @apply text-white dark:text-[#cacaca] 

}
.p-datepicker .p-disabled{
  @apply text-gray-700;
}
.p-datepicker .p-yearpicker-year:not(.p-disabled){
  @apply text-white dark:text-[#cacaca] ;
}

.p-paginator {
  @apply rounded-lg p-2 flex items-center justify-end gap-2;
}
.p-treeselect-trigger svg,
.filter-area svg,
.p-dropdown-trigger svg {
  @apply text-gray-500 dark:text-gray-300;
}
.p-treeselect-filter-container input {
  @apply bg-gray-100 dark:bg-gray-700 text-gray-800 dark:text-gray-200 rounded-lg p-1 w-full m-2 p-2;
}
.apexcharts-menu {
  @apply dark:bg-gray-700! text-gray-800 dark:text-gray-200 rounded-lg p-1 w-full m-2;
}
.apexcharts-menu-item {
  @apply p-2 dark:text-[#cAcAcA] hover:bg-gray-200 dark:hover:bg-gray-900! rounded;
}

/* APexchart css customize  */
.dark .apexcharts-xaxis-label {
  fill: #cacaca !important;
}
html[data-theme="dark"] .apexcharts-yaxis-title text {
  fill: #cacaca !important;
}
html[data-theme="dark"] .apexcharts-yaxis-texts-g text {
  fill: #cacaca !important;
}
html[data-theme="dark"] .apexcharts-xaxis-texts-g text {
  fill: #cacaca !important;
}
html[data-theme="dark"] .apexcharts-xaxis-title text {
  fill: #cacaca !important;
}

html[data-theme="dark"] .apexcharts-legend-text {
  color: #cacaca !important;
  margin-left: -10px;
}

/* npt-details-card */
.npt-details-card {
  @apply shadow-md bg-white dark:bg-[#1e2939] border  border-gray-300 dark:border-gray-900 rounded text-sm;
}

.npt-details-card li {
  @apply p-2 text-[12px]  dark:text-[#cAcAcA] rounded border-b  border-gray-200 dark:border-gray-900;
}
.npt-details-card h2 {
  @apply text-lg p-2  dark:text-[#cAcAcA] text-center;
}

.p-carousel-prev,
.p-carousel-next {
  @apply bg-[white] shadow-md dark:bg-gray-600 p-[5px] rounded-full  dark:text-[#cAcAcA];
}
.p-carousel .p-disabled {
  @apply opacity-[.1];
}

/* Slider css  */

@layer components {
  /* ================ Range Slider ============== */
  .p-slider .p-slider-range {
    @apply h-[5px] bg-[#1C98D8];
  }
  .p-slider-horizontal {
    @apply h-[5px] bg-gray-400!;
  }

  .p-slider.p-slider-horizontal .p-slider-handle {
    @apply -mt-[0.5715rem] -ml-[0.5715rem];
  }
  .p-slider-horizontal .p-slider-handle {
    @apply h-[1.143rem] w-[1.143rem] bg-white border-2 border-cyan-400 rounded-full transition-colors duration-200 ease-in-out;
  }
}

@layer components {
  .p-treenode-content {
    @apply flex gap-1 text-[#444050] dark:text-[#cAcAcA]
  }
}


.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: black !important;
  transition: background-color 9999s ease-in-out 0s !important;
  background-color: transparent !important;
}

/* Dark mode autofill styles */
[data-theme="dark"] input:-webkit-autofill,
[data-theme="dark"] input:-webkit-autofill:hover,
[data-theme="dark"] input:-webkit-autofill:focus,
[data-theme="dark"] input:-webkit-autofill:active {
  -webkit-text-fill-color: #cacaca !important;
  background-color: transparent !important;
}
.p-datepicker-calendar {
  @apply text-black dark:text-[#cacaca] ;
}

.p-datepicker .p-disabled{
  @apply text-gray-500;
}
.p-dialog-content::-webkit-scrollbar {
 display: none;
}
.p-dialog-resizable{

}